  <tr>
  <td class="contentMainTop" width="130"><span class="fontBold">Tabellenname:</br>(Standart: users)</span></td>
  <td class="contentMainFirst" align="center">
    <input type="text" name="table" value="[table]" class="inputField_dis"
    onfocus="this.className='inputField_en';"
    onblur="this.className='inputField_dis';" />
  </td>
</tr>
 <tr>
  <td class="contentMainTop" width="130"><span class="fontBold">Spaltenname:</br>(Standart: steamid)</span></td>
  <td class="contentMainFirst" align="center">
    <input type="text" name="spalte" value="[spalte]" class="inputField_dis"
    onfocus="this.className='inputField_en';"
    onblur="this.className='inputField_dis';" />
  </td>
</tr>
 <tr>
  <td class="contentBottom" colspan="2"></td>
</tr>
 <tr>
  <td class="contentMainTop" width="130"><span class="fontBold">Anzeigelimit:</span></td>
  <td class="contentMainFirst" align="center">
    <input type="number" name="max_disp" value="[max_disp]" class="inputField_dis"
    onfocus="this.className='inputField_en';"
    onblur="this.className='inputField_dis';" />
  </td>
</tr>
 <tr>
  <td class="contentMainTop" width="130"><span class="fontBold">Breite:</span></td>
  <td class="contentMainFirst" align="center">
    <input type="number" name="x_size" value="[x_size]" class="inputField_dis"
    onfocus="this.className='inputField_en';"
    onblur="this.className='inputField_dis';" />
  </td>
</tr>
 <tr>
  <td class="contentMainTop" width="130"><span class="fontBold">Aktualisierungsrate: (in Sekunden)</span></td>
  <td class="contentMainFirst" align="center">
    <input type="number" name="cache_delay" value="[cache_delay]" class="inputField_dis"
    onfocus="this.className='inputField_en';"
    onblur="this.className='inputField_dis';" />
  </td>
</tr>